<header>
	<h1>All Contacts</h1>
</header>

	<nav>
		<ul>
			  <% @contacts.each do |contact| %>
			    <li><a href="/contacts/<%= contact.id %>">
			    <%= contact.first_name %> <%= contact.last_name %> </a>
			    </li>
			  <% end %>		
			  
		</ul>
	</nav>
		 
<a href="http://localhost:4567"> Back to Homepage</a>
			    	
					

 





