<header>
	<h1>Create new Contact</h1>
</header>
<fieldset>
<legend>Contact details</legend>
	<form action="/contacts" method="post">
		<label>First Name:<br />
	  <input type="text" name="first_name">
	  <label>Last Name:<br />
	  <input type="text" name="last_name">
	  <label>Email:<br />
	  <input type="text" name="email">
	  <label>Note:<br />
	  <input type="text" name="note">
	  <input type="submit" name="Submit">
	</form>	
</fieldset>


<a href="http://localhost:4567"> Back to Homepage</a>






